.button {
	height: 35px;
	width: 320px;
	border: 1px solid #09adb6;
	border-radius: 5px;
	background-color: #09adb6;
	color: white;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
	margin: 30px;
}

.cadreFormPublish {
	background-color: #f2f3f3;
	width: 90%;
	height: 80vh;
	margin: 50px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.preview_img {
	width: 150px;
	height: 180px;
	object-fit: contain;
	border: 1px solid black;
}
